// _animations.scss
@use 'variables' as *;

.under-construction {
  background-color: $danger-color;
  color: $white;
  padding: $spacing-small $spacing-unit;
  border-radius: 5px;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: $spacing-unit;
  animation: pulse 2s infinite;
  text-align: center;
  display: block;
  line-height: 1.2;
  z-index: 3;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

@keyframes slideDown {
  0% { transform: translateY(-100%); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes slideUp {
  0% { opacity: 0; transform: translateY(50px); }
  100% { opacity: 1; transform: translateY(0); }
}