// _reset.scss
@use 'variables' as *;

@font-face {
  font-family: 'TH Sarabun';
  src: url('/fonts/THSarabun.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TH Sarabun';
  src: url('/fonts/THSarabun Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  font-family: $font-stack;
  margin: 0;
  padding: 0;
}

body {
  line-height: $line-height-base;
  color: $text-color;
  background-color: $background-color;
}